.navbar {
  border-bottom: 3px solid #7400b8;
}

.usuario {
  margin-right: 35px;
}
.user-img {
    margin-left: -28px;
}

.col-usuario{
    margin-top: 0.625rem;
}

.btn-direccion-entrega{
    background-color: #72EFDD;
    margin-top: 22px;
    padding-left: 23px;
    padding-right: 360px;
    font-weight: bolder
}
.btn-forma-pago{
    background-color: #72EFDD;
    margin-top: 22px;
    padding-left: 23px;
    padding-right: 403px;
    font-weight: bolder
}
.btn-horario-entrega{
    background-color: #72EFDD;
    margin-top: 22px;
    padding-left: 23px;
    padding-right: 376px;
    font-weight: bolder
}

.calle{
    border-left: none;
    border-top: none;
    border-right: none;
    border-color: #4EA8DE;
    border-width: medium;
    width: 33.75rem;
    margin-top: 0.625rem;
}

/* ESTO ES MUY SOSPECHOSO */
.ciudad{
    border-left: none;
    border-top: none;
    border-right: none;
    border-color: #4EA8DE;
    border-width: medium;
    margin-top: 0.625rem;
    width: 23.5rem;
}

#formaDePago{
    padding-top: 15px;
    margin-left: 0.625rem;
}
small{
    color: #4EA8DE;
}
.pedido{
    float: left;
    width: 580px;
}

.btn-mapa{
    border-color: #4EA8DE;
    color: #4EA8DE;
    margin-top: -4.188rem;
    margin-left: 24.875rem;
}

.btn-mapa:hover{
    background-color: #4EA8DE;
    color: black;
}
#mapa{
    width: 33.75rem;
    height: 20rem;
}