.navbar {
  border-bottom: 0.188rem solid #7400b8;
}

.usuario {
  margin-right: 2.188rem;
}
.user-img {
    margin-left: -1.75rem;
}

.col-usuario{
    margin-top: 0.625rem;
}

.btn-direccion-entrega{
    background-color: #72EFDD;
    margin-top: 1.375rem;
    padding-left: 1.438rem;
    padding-right: 22.5rem;
    font-weight: bolder
}
.btn-forma-pago{
    background-color: #72EFDD;
    margin-top: 1.375rem;
    padding-left: 1.438rem;
    padding-right: 25.188rem;
    font-weight: bolder
}
.btn-horario-entrega{
    background-color: #72EFDD;
    margin-top: 1.375rem;
    padding-left: 1.438rem;
    padding-right: 23.5rem;
    font-weight: bolder
}

.calle{
    border-left: none;
    border-top: none;
    border-right: none;
    border-color: #4EA8DE;
    border-width: medium;
    width: 33.75rem;
    margin-top: 0.625rem;
}

/* ESTO ES MUY SOSPECHOSO */
.ciudad{
    border-left: none;
    border-top: none;
    border-right: none;
    border-color: #4EA8DE;
    border-width: medium;
    margin-top: 0.625rem;
    width: 23.5rem;
}

#formaDePago{
    padding-top: 0.938rem;
    margin-left: 0.625rem;
}
small{
    color: #4EA8DE;
}
.pedido{
    float: left;
    width: 36.25rem;
}

.btn-mapa{
    border-color: #4EA8DE;
    color: #4EA8DE;
    margin-top: -4.188rem;
    margin-left: 24.875rem;
}

.btn-mapa:hover{
    background-color: #4EA8DE;
    color: black;
}
#mapa{
    width: 33.75rem;
    height: 20rem;
}
#fecha{
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.calendario{
    border-color: #4EA8DE;
    border-top: none;
    border-left: none;
    border-right: none;
}

.hora{
    margin-left: 1rem;
    margin-right: 0.313rem;
}
.time{
    margin-left: 1.5rem;
}

.btn-enviar{
    background-color: #7400b8;
    color: white;
    margin-top: 1.563rem;
    margin-left: 12.813rem;
}