<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://i.imgur.com/nlEjazF.png" alt="" height="50px" width="150px" />
    </a>
    <div class="usuario">
      <div class="row">
        <div class="col-3">
          <img src="https://i.imgur.com/2RH4PD3.png" height="45px" width="45px" class="user-img" />
        </div>
        <div class="col col-usuario">
          <p>Ana María</p>
        </div>
        <div class="col-1 col-usuario">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="10" height="24" viewBox="0 0 172 172"
            style="fill: #000000">
            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
              stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
              font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
              <path d="M0,172v-172h172v172z" fill="none"></path>
              <g fill="#56cfe1">
                <path
                  d="M170.9502,51.2224l-21.5,-21.49862c-0.67887,-0.68583 -1.66569,-1.11972 -2.58252,-1.04974c-0.97282,0.01399 -1.88965,0.41989 -2.55452,1.11972l-58.31315,61.73855l-58.31315,-61.73855c-0.66488,-0.69982 -1.58171,-1.10572 -2.55453,-1.11972c-0.94482,-0.03499 -1.89665,0.36391 -2.58252,1.04974l-21.5,21.49862c-1.37874,1.37865 -1.39974,3.6041 -0.05599,5.01075l82.41667,85.99446c0.67887,0.70683 1.6097,1.10573 2.58952,1.10573c0.97982,0 1.91064,-0.3989 2.58952,-1.10573l82.41667,-85.99446c1.34375,-1.40665 1.32275,-3.63209 -0.05599,-5.01075z">
                </path>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="mockNavBar"></div>
<app-carrito (pasarData)="pasarData($event)"></app-carrito>
<div class="pedido container-fluid">
  <div>
    <button class="btn btn-direccion-entrega" type="button" data-bs-toggle="collapse" data-bs-target="#direccionEntrega"
      aria-expanded="false">
      Dirección de entrega
    </button>
    <div class="collapse" id="direccionEntrega">
      <form [formGroup]="direccionForm">
        <div class="mb-3 form-group">
          <input type="text" class="form-control calle" placeholder="Teléfono (sin 0 ni 15)*" formControlName="telefono"
            maxlength="10" />
          <small *ngIf="direccionForm.controls.telefono.touched && direccionForm.controls.telefono.errors?.required">Por
            favor, ingrese el número de telefono</small>
          <small *ngIf="direccionForm.controls.telefono.touched && direccionForm.controls.telefono.errors?.pattern">Por
            favor, ingrese el número de telefono de manera correcta</small>
          <small *ngIf="direccionForm.controls.telefono.touched && direccionForm.controls.telefono.errors?.minlength">La
            cantidad mínima de dígitos es 10</small>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control calle" placeholder="Calle*" id="calle" formControlName="calle" />
          <small *ngIf="direccionForm.controls.calle.touched && direccionForm.controls.calle.errors?.required">Por
            favor, ingrese el nombre de la calle</small>

        </div>
        <div class="mb-3">
          <input type="text" class="form-control calle" placeholder="Número*" id="numero" formControlName="numero" />
          <small *ngIf="direccionForm.controls.numero.touched && direccionForm.controls.numero.errors?.required">Por
            favor, ingrese el número de telefono</small>
          <small *ngIf="direccionForm.controls.numero.touched && direccionForm.controls.numero.errors?.pattern">Por
            favor, ingrese el número de calle de manera correcta</small>

        </div>

        <div class="mb-3">
          <input type="text" class="form-control calle" placeholder="Referencia" id="referencia" formControlName="referencia" />
        </div>

        <div class="mb-3">
          <select class="form-select form-control ciudad" id="ciudad">
            <option *ngFor="let opt of ciudades" value="{{opt.nombre}}">
              {{ opt.nombre }}
            </option>
          </select>
          <button type="button" class="btn btn-outline btn-mapa" (click)="guardarDireccion(); mostrarMapa()">Mostrar en
            mapa</button>
        </div>
        <div class="mb-3">
          <iframe src="" frameborder="0" style="border:0; display: none;" id="mapa"></iframe>
        </div>
      </form>
    </div>
  </div>
  <div>
    <button class="btn btn-forma-pago" type="button" data-bs-toggle="collapse" data-bs-target="#formaDePago"
      aria-expanded="false" aria-controls="collapseExample">
      Forma de pago
    </button>
    <div class="collapse" id="formaDePago">
      <form>
        <div class="mb-3">
          <input type="radio" id="tarjetaButton" name="metodoPago" data-bs-toggle="collapse"
            data-bs-target="#tarjeta:not(.show)" (click)="ocultarEfectivo()" />
          <label for="tarjetaButton">&nbsp; Tarjeta</label>
          <div class="collapse" id="tarjeta">
            <form name="tarjetaForm" [formGroup]="tarjetaForm">
              <div class="mb-3 form-group">
                <input type="text" id="inputNumTarjeta" class="form-control calle" formControlName="numeroTarjeta"
                  placeholder="Número de tarjeta*" maxlength="16" />
                <small
                  *ngIf="tarjetaForm.controls.numeroTarjeta.touched && tarjetaForm.controls.numeroTarjeta.errors?.required">Por
                  favor, ingrese el número de la tarjeta</small>
                <small
                  *ngIf="tarjetaForm.controls.numeroTarjeta.touched && tarjetaForm.controls.numeroTarjeta.errors?.pattern">Por
                  favor, ingrese número de tarjeta Visa</small>
                <br>
                <small
                  *ngIf="tarjetaForm.controls.numeroTarjeta.touched && tarjetaForm.controls.numeroTarjeta.errors?.minlength">El
                  número mínimo es de solo 16 dígitos</small>
              </div>
              <div class="mb-3 form-group">
                <input type="text" id="inputFechaExp" class="form-control calle" formControlName="fechaVencimiento"
                  placeholder="Expiración MM/AAAA*" maxlength="7" />
                <small
                  *ngIf="tarjetaForm.controls.fechaVencimiento.touched && tarjetaForm.controls.fechaVencimiento.errors?.required">Por
                  favor, ingrese la fecha de vencimiento</small>
                <small
                  *ngIf="tarjetaForm.controls.fechaVencimiento.touched && tarjetaForm.controls.fechaVencimiento.errors?.pattern">Por
                  favor, ingrese una fecha válida con formato MM/AAAA</small>
                <br>
              </div>
              <div class="mb-3 form-group">
                <input type="text" id="inputCodSeguridad" class="form-control calle" formControlName="numeroCVVD"
                  placeholder="Código de seguridad*" maxlength="3" />
                <small
                  *ngIf="tarjetaForm.controls.numeroCVVD.touched && tarjetaForm.controls.numeroCVVD.errors?.required">Por
                  favor, ingrese el código de seguridad</small>
                <small
                  *ngIf="tarjetaForm.controls.numeroCVVD.touched && tarjetaForm.controls.numeroCVVD.errors?.pattern">Por
                  favor, Ingrese sólo números</small>
                <br>
                <small
                  *ngIf="tarjetaForm.controls.numeroCVVD.touched && tarjetaForm.controls.numeroCVVD.errors?.minlength">El
                  número mínimo es de 3 dígitos</small>

              </div>
              <div class="mb-3 form-group">
                <input type="text" id="inputNomTitular" class="form-control calle" formControlName="nombre"
                  placeholder="Nombre completo del titular (como figura en la tarjeta)*" />
                <small *ngIf="tarjetaForm.controls.nombre.touched && tarjetaForm.controls.nombre.errors?.required">Por
                  favor, ingrese el nombre del titular (como figura en la tarjeta)</small>
                <small *ngIf="tarjetaForm.controls.nombre.touched && tarjetaForm.controls.nombre.errors?.pattern">Por
                  favor, Ingrese el nombre de forma correcta</small>
              </div>
            </form>
          </div>
        </div>
        <div class="mb-3">
          <input type="radio" id="efectivoButton" name="metodoPago" data-bs-toggle="collapse"
            data-bs-target="#efectivo:not(.show)" (click)="ocultarTarjeta()" />
          <label for="efectivoButton">&nbsp; Efectivo</label>
          <div class="collapse" id="efectivo">
            <form name="efectivoForm" [formGroup]="efectivoForm">
              <div class="mb-3 form-group">
                <input type="text" id="inputEfectivo" class="form-control calle" formControlName="monto"
                  placeholder="Monto a pagar" />
                <small *ngIf="efectivoForm.controls.monto.touched && efectivoForm.controls.monto.errors?.required">Por
                  favor, ingrese el monto a pagar</small>
                <small *ngIf="efectivoForm.controls.monto.touched && efectivoForm.controls.monto.errors?.pattern">Por
                  favor, Ingrese solo números</small>
                <br>
                <small *ngIf="efectivoForm.controls.monto.touched && efectivoForm.controls.monto.errors?.min">Por favor,
                  ingrese un monto mayor al total del pedido</small>
              </div>
            </form>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div>
    <button class="btn btn-horario-entrega" type="button" data-bs-toggle="collapse" data-bs-target="#horarioEntrega"
      aria-controls="collapseExample">
      Horario de entrega
    </button>
    <div class="collapse" id="horarioEntrega">
      <form [formGroup]="horarioForm">
        <div class="mt-3">
          <div class="mb-3">
            <input type="radio" id="fecha-hora-persoButton" name="horarioEntrega" data-bs-toggle="collapse"
              data-bs-target="#fecha-hora-perso:not(.show)" aria-expanded="false" (click)="mostrarPersonalizado()" />
            <label for="fecha-hora-persoButton"> &nbsp; Fecha y hora personalizado</label>
            <div class="collapse" id="fecha-hora-perso">
              <label for="fecha">Fecha</label>
              <input placeholder="dd/mm/aaaa" formControlName="Fecha" ngbDatepicker type="date" id="fecha"
                class="calendario" />
              <br>
              <label for="hora" class="hora">Hora</label>
              <input type="time" formControlName="Hora" class="calendario time" id="hora">
            </div>
          </div>
          <div class="mb-3">
            <input type="radio" id="ahora" name="horarioEntrega" (click)="ocultarPersonalizado()" />
            <label for="ahora"> &nbsp; Lo antes posible</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <button type="button" id="btnEnviar" class="btn btn-enviar" data-bs-toggle="modal"  
    (click)="enviar()" data-bs-target="">Enviar pedido</button>
  <div id="confirmacion" class="modal" aria-expanded="false" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <img src="https://i.imgur.com/6puJN8k.png" height="40px" width="40px">
          <h5 class="modal-title">Pedido Confirmado</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cerrarModal()"></button>
        </div>
        <div class="modal-body">
          <p id="direccionConfirmada"></p>
          <p id="diaEntrega"></p>
          <p id="horaEntrega"></p>
        </div>
        <div class="modal-footer">
          <img src="https://i.imgur.com/L3aGBfd.gif" alt="">
        </div>
      </div>
    </div>
  </div>
  <div id="error" class="modal" aria-expanded="true" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <img src="https://i.imgur.com/EsiQflP.png" height="40px" width="40px">
          <h5 class="modal-title">Error</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cerrarModal()"></button>
        </div>
        <div class="modal-body">
          <p id="msjError"></p>
        </div>
      </div>
    </div>
  </div>
</div>